<header class="p-8 flex justify-around">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Threads_%28app%29_logo.svg/2048px-Threads_%28app%29_logo.svg.png"
    alt="Threads Icons" class="w-[30px] h-[30px] selection:bg-transparent cursor-pointer">
  <nav>
    <ul class="flex justify-around gap-12">
      <li class="cursor-pointer transition-all duration-300 hover:text-indigo-600"><a routerLink="/home">Home</a></li>
      <li class="cursor-pointer transition-all duration-300 hover:text-indigo-600"><a routerLink="/create-post">Create Post</a></li>
      <li class="cursor-pointer transition-all duration-300 hover:text-indigo-600"><a routerLink="/likes">Likes</a></li>
      <li class="cursor-pointer transition-all duration-300 hover:text-indigo-600"><a routerLink="/profile">Profile</a></li>
    </ul>
  </nav>  
  <span class="cursor-pointer">
    See more
  </span>
</header>